@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    width:100%;
    height:110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a0909;
}
.calculator{
    border:1px solid #fff;
    padding:20px;
    border-radius:15px;
    background: transparent;
    box-shadow: 0px 3px 10px rgba(113, 115, 119, 0.9);
}
 input{
    width:320px;
    border:none;
    padding:24px;
    margin:10px;
    background:transparent;
    box-shadow:0px 3px 15px rgbs(84,84,84,0.1);
    font-size:40px;
    text-align:right;
    cursor:pointer;
    color: #fff;

 }
 input::placeholder{
    color:#fff;
 }
 button{
    width:60px;
    height:60px;
    margin:10px;
    font-size:20px;
    border:none;
    border-radius:50%;
    background:transparent;
    color:#fff;
    box-shadow:-8px -8px 15px rgba(255,255,84,0.1);
    cursor:pointer;
 }
 .equalBtn{
    width:60px;
    color: rgb(20, 192, 146);
    border-radius:30px;
    box-shadow:0px 3px 15px rgba(255,140,0,0.4);
 }
.operator{
    color: rgb(14, 95, 73);
    box-shadow:0px 3px 15px rgba(0,255,191,0.4);
}
.delete{
    color: rgb(14, 95, 73);
    box-shadow:0px 3px 15px rgba(255,0,0,0.4);
}